<div>
    <%=link_to "/", class: "sideb" do %>
        <%= image_tag ("ホーム.png") %> ホーム
    <% end %><br>
    
    <%=link_to "/", class: "sideb" do %>
        <%= image_tag ("話題を検索.png") %> 話題を検索
    <% end %><br>
    
    <%=link_to "/", class: "sideb" do %>
        <%= image_tag ("通知.png") %> 通知
    <% end %><br>
    
    <%=link_to "/", class: "sideb" do %>
        <%= image_tag ("メッセージ.png") %> メッセージ
    <% end %><br>
    
    <%=link_to "/", class: "sideb" do %>
        <%= image_tag ("ブックマーク.png") %> ブックマーク
    <% end %><br>
    
    <%=link_to "/", class: "sideb" do %>
        <%= image_tag ("リスト.png") %> リスト
    <% end %><br>
    
    <%=link_to "/", class: "sideb" do %>
        <%= image_tag ("プロフィール.jpg") %> プロフィール
    <% end %><br>
    
    <%=link_to "/", class: "sideb" do %>
        <%= image_tag ("もっと見る.png") %> もっと見る
    <% end %><br>
    
    <div class="tweets">
        <a href="tweets/new">ツイートする</a>
    </div>
</div>